airspeed==0.6.0
requests~=2.32.3
six==1.16.0
urllib3~=2.2.2
urlparser~=0.1.2
uwsgi~=2.0
psycopg2~=2.9.9
SQLAlchemy~=2.0.32
SQLAlchemy-Utils~=0.41.2
munch~=4.0.0
Jinja2~=3.1.4
ldap3~=2.9.1
iteration-utilities~=0.12.1
nose2~=0.15.0
# legacy-cgi~=2.6.1